<h2> Student's Fees </h2>
<% if current_user.role?("accounting") %>
<%= link_to 'Fee Report Paid',
              fee_report_paid_path(@student, format: "xls"),  class: "btn btn-default" %>
<%= link_to 'Fee Report Unpaid',
              fee_report_unpaid_path(@student, format: "xls"),  class: "btn btn-default" %>
<%= link_to 'Fee Report All',
              fee_report_by_family_path(@student, format: "xls"),  class: "btn btn-default" %>
<% end %>
<table class="table table-striped" style="margin-top: 30px; margin-bottom: 50px;">
  <thead>
  <tr>
    <div class="row">
        <th class="col-md-1">Id</th>

        <th class="col-md-1">Name</th>

        <th class="col-md-1">Amount</th>

        <th class="col-md-1">Term</th>

        <th class="col-md-1">Completion</th>

        <th class="col-md-1">Paid Amount</th>

        <th class="col-md-1">Action</th>
    </div>
  </tr>
  </thead>

  <tbody>
  <% @fees.each do |fee| %>
      <% charge = Charge.where(student_id: @student.id, fee_id: fee.id).first %>

      <tr>
        <div class="row">
              <%= hidden_field_tag 'amount', charge ? charge.amount.to_i : 0, id: "student_fee_form_amount_#{@student.id}_#{fee.id}" %>

            <td class="col-md-1"><%= link_to fee.id, fee_path(fee) %></td>

            <td class="col-md-1"><%= fee.name %></td>

            <td class="col-md-1"><%= fee.amount %></td>

            <td class="col-md-1"><%= fee.term ? fee.term.name : ''%></td>

            <td class="col-md-1">
              <%
                 fee_status = 'Unpaid'
                 fee_status = 'Paid' if charge && charge.is_completed
                 fee_status = 'Partial' if charge && !charge.is_completed && charge.amount.to_i > 0
              %>
              <span id="charge_status_<%= "#{@student.id}_#{fee.id}"%>"><%= fee_status %></span>
            </td>

            <td class="col-md-2">
              <div class="" id="amount_field_<%= "#{@student.id}_#{fee.id}"%>" style="position: relative;" >
                <%= hidden_field_tag "original_amount", charge ? charge.amount.to_i : 0 %>
                <span style="font-size: 20px; line-height: 27px;">$</span>
                <input disabled type="text" name="amount" value="<%= charge ? charge.amount.to_i : 0 %>" style="width: 80px; height: 1.8em" class="form-control amount_field">
              </div>
              <div class="amount-edit-group-btns">
                <div class="btn btn-default btn-change-paid" id="btn_edit_<%= "#{@student.id}_#{fee.id}"%>" onclick="updatePaymentClicked(<%= "#{@student.id}, #{fee.id}" %>)">
                  <span class="fa fa-pencil"></span>
                </div>

                <div class="btn btn-success payment_update pull-left" id="payment_update_<%= "#{@student.id}_#{fee.id}" %>" onclick="confirmPaymentClicked(<%= "#{@student.id}, #{fee.id}" %>)">
                  <span class="fa fa-check"></span>
                </div>
                <div class="btn btn-default payment_cancel pull-left" id="payment_cancel_<%= "#{@student.id}_#{fee.id}"%>" onclick="cancelPaymentClicked(<%= "#{@student.id}, #{fee.id}" %>)">
                  <span class="fa fa-close"> </span>
                </div>
              </div>
            </td>
            <td><%= link_to "Unassign", unassign_fee_path(fee_id: fee.id, student_id: @student.id), method: :post, class: 'btn btn-default' %></td>
        </div>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Fee Report All", export_fee_path(@student, :format => :pdf), class: 'btn btn-primary' %>

<br>
<br>
<h2> Other Fees </h2>
<table class="table table-striped" style="margin-top: 30px; margin-bottom: 50px;">
  <thead>
      <tr>
        <div class="row">
          <th class="col-md-1">Id</th>

          <th class="col-md-1">Name</th>

          <th class="col-md-1">Amount</th>

          <th class="col-md-1">Term</th>

          <th class="col-md-1">Completion</th>
        </div>
      </tr>
  </thead>

  <tbody>
    <% @other_fees.each do |fee| %>

      <tr>
        <div class="row">
          <td class="col-md-1"><%= link_to fee.id, fee_path(fee) %></td>

          <td class="col-md-1"><%= fee.name %></td>

          <td class="col-md-1"><%= fee.amount %></td>

          <td class="col-md-1"><%= fee.term ? fee.term.name : ''%></td>

          <td class="col-md-1">
            <% if @student.fees.include? fee %>
                <span class="grey-text">Assigned</span>
            <% else %>
              <%= link_to "Assign", assign_fee_path(fee_id: fee.id, student_id: @student.id), method: :post, class: 'btn btn-default' %>
            <% end %>
          </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
    .payment_update, .payment_cancel {
        display: none;
    }

    .amount-edit-group-btns {
        margin-top: 2px;
    }
    .amount_field {
      width: 80px;
      height: 1.8em;
      position: absolute;
      top: 2px;
      left: 15px;
    }
    .btn-change-paid {
      padding: 1px 5px;
      top: -25px;
      left: 100px;
      position: relative;
      display: inline-block;
    }
    .payment_update {
      padding: 1px 5px;
      margin-left: 10px;
      top: -25px;
      left: 94px;
      position: relative;
    }
    .payment_cancel {
      padding: 1px 6px;
      margin-left: 5px;
      left: 92px;
      top: -25px;
      position: relative;
    }
</style>

<script>
  var updatePaymentClicked = function(studentId, feeId){
    $("#btn_edit_" + studentId + "_" + feeId).hide(100);
    $("#amount_field_" + studentId + "_" + feeId).find('input').removeAttr('disabled');
    $("#payment_update_" + studentId + "_" + feeId).show(200);
    $("#payment_cancel_" + studentId + "_" + feeId).show(200);
  };

  var cancelPaymentClicked = function(studentId, feeId){
      $("#btn_edit_" + studentId + "_" + feeId).show(200);
      $("#payment_update_" + studentId + "_" + feeId).hide();
      $("#payment_cancel_" + studentId + "_" + feeId).hide();
      $("#amount_field_" + studentId + "_" + feeId).find('input').attr('disabled', true);
      $("#amount_field_" + studentId + "_" + feeId).find('input').val($("#amount_field_" + studentId + "_" + feeId).find('#original_amount').val());
  };

  var confirmPaymentClicked = function(studentId, feeId){
      $("#btn_edit_" + studentId + "_" + feeId).show(200);
      $("#payment_update_" + studentId + "_" + feeId).hide();
      $("#payment_cancel_" + studentId + "_" + feeId).hide();
      $("#amount_field_" + studentId + "_" + feeId).find('input').attr('disabled', true);


      $("input#student_fee_form_amount_" + studentId + "_" + feeId).val($("#amount_field_" + studentId + "_" + feeId).find("input[name=amount]").val());
//      $("form#student_fee_form_"  + studentId + "_" + feeId).submit()

      $.ajax({
          url: 'payment',
          type: 'post',
          dataType: 'script',
          data: {
              fee_id: feeId,
              student_id: studentId,
              amount: $("input#student_fee_form_amount_" + studentId + "_" + feeId).val()
          }
      });
  };

  var assignFee = function(feeId, studentId){
      $.ajax({
          url: '/students/assign_fee',
          type: 'post',
          dataType: 'script',
          data: {
              fee_id: feeId,
              student_id: studentId
          },
          success: function(data){
              $("#fee_assign_" + studentId + "_" + feeId).html('Assigned');
              $("#fee_assign_" + studentId + "_" + feeId).removeClass('btn');
              $("#fee_assign_" + studentId + "_" + feeId).removeClass('btn-default');
          }
      });
  }
</script>


