<%= simple_form_for @student, :html => {:class => "form-horizontal student"} do |f| %>

    <% if @student.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <% if current_user.role?("accounting") %>
      <strong>Enrolled: </strong><br><br>
      <input type="checkbox" <%= "checked" if @student.enrolled %> data-toggle="toggle" id="enroll-checkbox" data-on="Yes" data-off="No">
      <div style="height: 30px"></div>
      <%= f.hidden_field :enrolled %>

      <strong>Transferred: </strong><br><br>
      <input type="checkbox" <%= "checked" if @student.transferred %> data-toggle="toggle" id="transferred-checkbox" data-on="Yes" data-off="No">
      <div style="height: 30px"></div>
      <%= f.hidden_field :transferred %>
    <% else %>
      <strong>Enrolled: </strong> <%= @student.enrolled ? "Yes" : "No" %>
      <strong>Transferred: </strong> <%= @student.transferred ? "Yes" : "No" %>
    <% end %>

    <div style="height: 30px"></div>

    <div class="row">
    <div class="col-md-12">
    <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Student Information</a></li>
      <% if current_user.role?("accounting") || current_user.role?("office")  %>
        <li role="presentation">
          <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Parent / Guardian Information</a>
        </li>
        <li role="presentation">
          <a href="#parent" aria-controls="parent" role="tab" data-toggle="tab">Parent</a>
        </li>
        <li role="presentation">
          <a href="#health" aria-controls="heatlh" role="tab" data-toggle="tab">Health Information</a></li>
      <% end %>
      <% if current_user.role?("accounting") || current_user.role?("office") %>
        <li role="presentation"><a href="#fees" aria-controls="fees" role="tab" data-toggle="tab">Fees</a></li>
      <% end %>
      <% if current_user.role?("accounting") %>
        <li role="presentation">
          <a href="#transportation" aria-controls="transportation" role="tab" data-toggle="tab">Transportation</a></li>
      <% end %>
      <% if current_user.role?("accounting") || current_user.role?("teacher") %>
        <li role="presentation"><a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">Reports</a></li>
      <% end %>
      <% if current_user.role?("accounting") %>
        <li role="presentation"><a href="#term" aria-controls="settings" role="tab" data-toggle="tab">Term</a></li>
        <li role="presentation"><a href="#sibling" aria-controls="sibling" role="tab" data-toggle="tab">Sibling</a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="row">
        <div class="col-md-6">
          <div class="control-group">
            <div class="controls">
              <%= f.input :last_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:last_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :middle_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:middle_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :first_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:first_name]) %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="control-group">
                <div class="controls">
                  <%= f.input :birthdate, as: :date_picker, :class => 'form-controll' %>
                </div>
                <%#= error_span(@student[:birthdate]) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="control-group">
                <div class="controls">
                  <%= f.input :gender, collection: ["Male", "Female"], prompt: "Select gender", :class => 'form-control' %>
                </div>
                <%#= error_span(@student[:birthdate]) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="control-group">
                <div class="controls">
                  <%= f.input :phone, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="control-group">
                <div class="controls">
                 <%= f.input :mobile, :class => 'form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.input :admission_date, as: :date_picker, :class => 'form-controll' %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">

              <%#= f.association :grade, prompt: "Choosa a Grade", :class => 'form-control' %>
            </div>
            <%##= error_span(@student[:grade_id]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :sin, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:sin]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :grade_id, collection: Grade.all.map { |g| [g.name, g.id, {'data-type' => g.name}] }, prompt: "Select grade", :class => 'form-control', selected: @student.get_grade_id %>
            </div>
            <%#= error_span(@student[:sibling_id]) %>
          </div>
          <div class="control-group">
             <div class="controls">
              <%= f.input :state, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :nationality, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
            </div>
            <%#= error_span(@student[:birthdate]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :trans_req, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:trans_req]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :tax_rec_req, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:tax_rec_req]) %>
          </div>
          <!-- <div class="control-group">
            <div class="controls">
              <%#= f.association :siblings, label_method: :first_name, value_method: :id, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:sibling_id]) %>
          </div> -->
        </div>
        <div class="col-md-6">
          <div class="control-group">
            <div class="controls">
              <%= f.input :street, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:street]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :city, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :country, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :immediate_contact, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :biometric, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :category, :class => 'form-control' %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :postal_code, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:postal_code]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :status, collection: ["Citizen", "Student Visa", "Other Visa"], prompt: "Select Citizenship", :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:status]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :last_shool_attended, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:last_shool_attended]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :last_school_phone, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:last_school_phone]) %>
          </div>

        </div>
      </div>
      <% if current_user.role?("accounting") %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    students_path, :class => 'btn btn-default' %>
      <% end %>
    </div> <!-- End first tab panel -->


    <div role="tabpanel" class="tab-pane" id="contact">
      <div class="row">
        <div class="col-md-6">
          <h3>Father</h3>

          <div class="control-group">
            <div class="controls">
              <%= f.input :f_first_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_first_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_last_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_last_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_phone, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_phone]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_cell, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_cell]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_work, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_work]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_email, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_email]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_home_address, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_cell]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_city, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_work]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :f_state, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_email]) %>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Mother</h3>

          <div class="control-group">
            <div class="controls">
              <%= f.input :m_first_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_first_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_last_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_last_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_phone, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_phone]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_cell, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_cell]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_work, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_work]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_email, as: :tel, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:m_email]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_home_address, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_cell]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_city, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_work]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :m_state, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:f_email]) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="control-group">
            <div class="controls">
              <%= f.input :custody, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:custody]) %>
          </div>
        </div>
      </div>

      <% if current_user.role?("accounting") %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    students_path, :class => 'btn btn-default' %>
      <% end %>
    </div> <!-- End second tab panel -->

    <div role="tabpanel" class="tab-pane" id="parent">
      <%= render 'student_parent' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="health">

      <div class="row">
        <div class="col-md-6">
          <h3>Emergency Contacts</h3>

          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_1_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_1_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_1_phone, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_1_phone]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_1_relation, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_1_relation]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_2_name, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_2_name]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_2_phone, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_2_phone]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :emerg_2_relation, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:emerg_2_relation]) %>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= f.input :medical_conditions, :class => 'form-control' %>
            </div>
            <%#= error_span(@student[:medical_conditions]) %>
          </div>
        </div>

        <div class="col-md-6">
            <h3>Family Doctor</h3>

            <div class="control-group">
              <div class="controls">
                <%= f.input :doctor_name, :class => 'form-control' %>
              </div>
              <%#= error_span(@student[:doctor_name]) %>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= f.input :doctor_phone, :class => 'form-control' %>
              </div>
              <%#= error_span(@student[:doctor_phone]) %>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= f.input :healthcard, :class => 'form-control' %>
              </div>
              <%#= error_span(@student[:healthcard]) %>
            </div>
        </div>
      </div>

      <% if current_user.role?("accounting") %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    students_path, :class => 'btn btn-default' %>
      <% end %>
    </div> <!--  End third tab panel  -->

    <div role="tabpanel" class="tab-pane" id="fees">
      <% if params[:action] == 'edit' && params[:controller] == 'students' %>
          <%= render partial: "fee_management", locals: { fees: @fees, student: @student, other_fees: @other_fees } %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="term">
      <%= render 'student_term' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="sibling">
      <%= render 'student_sibling' %>
    </div>

    <br>
    <br>
<% end %>


<div role="tabpanel" class="tab-pane" id="transportation">
  <% if params[:action] == 'edit' && params[:controller] == 'students' %>
      <%= render 'routes_management' %>
  <% end %>
</div>

<div role="tabpanel" class="tab-pane" id="reports">
  <% if params[:action] == 'edit' && params[:controller] == 'students' %>
      <%= render 'reports_management' %>
  <% end %>
</div>

</div>
</div>
</div>
</div>

<script>
  $(document).ready(function(){
    $('#enroll-checkbox').change(function() {
      $("input[name='student[enrolled]']").val($(this).prop('checked'));
      console.log($("input[name=enrolled]"));
      var enrolled = $(this).prop('checked') ;
      <% if action_name == "edit" %>
        var url = "<%= enroll_student_path(@student) %>"
        $.ajax({
          url : url,
          type : "POST",
          data : 'enrolled=' + enrolled,
          dataType : "json",
          context: this,
          success : function(data) {
            if (data.result == "success"){

            }else{
              alert(data.massage);
            }
          }
        });
      <% end %>
    })

    $('#transferred-checkbox').change(function() {
      $("input[name='student[transferred]']").val($(this).prop('checked'));
      var transferred = $(this).prop('checked') ;
      <% if action_name == "edit" %>
        var url = "<%= set_transferred_student_path(@student) %>"
        $.ajax({
          url : url,
          type : "POST",
          data : 'transferred=' + transferred,
          dataType : "json",
          context: this,
          success : function(data) {
            if (data.result == "success"){

            }else{
              alert(data.massage);
            }
          }
        });
      <% end %>
    })
  })
</script>

