<table id="pdf-table" width="100%" cellspacing="0">
  <%= render :partial => 'pdf_info' %>
  <tr>
    <table class="set-mark border_no_top" width="100%">
      <tr>
        <td style="font-weight: bold; text-align: center;" width="15%">% Mark</td>
        <td style="font-weight: bold;" width="85%">PERFORMANCE SCALE for subject areas in reference to Ministry of Education standards:</td>
      </tr>
      <tr>
        <td align="center">80 - 100</td>
        <td>4 - Displays strong performance (does work of high quality; has knowledge and understanding of subject)</td>
      </tr>
      <tr>
        <td align="center">70 - 79</td>
        <td>3 - Demonstrates appropriate development (does what is required; has a developing knowledge of the subject)</td>
      </tr>
      <tr>
        <td align="center">60 - 69</td>
        <td>2 - Has a beginning knowledge (needs support, practice and time)</td>
      </tr>
      <tr>
        <td align="center">50 - 59</td>
        <td>1 - Does not meet grade level expectations</td>
      </tr>
      <tr>
        <td></td>
        <td>N/A - Not Applicable at this time</td>
      </tr>
    </table>
  </tr>
</table>

<% @report_template.evaluate_types.all.order('id ASC').each_with_index do |evaluate_type, index_type |%>
  <table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0" >
    <% if index_type == 0 %>
      <tr class="table-header" style="font-weight: bold;">
        <td class="fixed" width="70%" style="padding: 0px 5px;"></td>
        <% current_acedemic_year.terms.each_with_index do |term, index| %>
          <td width="10%" colspan="2" class="score" align="center">Report <%= index + 1 %></td>
        <% end %>
      </tr>
    <% end %>

    <tr class="table-header" style="font-weight: bold;">
      <td class="fixed" width="70%" style="padding: 0px 5px;"><%= evaluate_type.name %></td>
      <% current_acedemic_year.terms.each_with_index do |term, index| %>
        <% if index_type == 0 %>
          <td align="center" width="5%" style="font-size: 9px;">Mark</td>
          <td align="center" width="5%" style="font-size: 9px;">Avg</td>
        <% else %>
          <td align="center" width="5%" style="font-size: 9px;"></td>
          <td align="center" width="5%" style="font-size: 9px;"></td>
        <% end %>
      <% end %>
    </tr>
    
    <% evaluate_type.evaluates.each do |evaluate|%>
       <tr class="tr">
        <td class="padding-td"><%= evaluate.name %></td>
        <% current_acedemic_year.terms.each do |term| %>
          <td width="5%" class="score" align="center">
            <%= StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark").present? ? StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") : "N/A" %>
          </td>
          <td width="5%" class="score" align="center">
          <%= StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "avg").present? ? StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "avg") : "N/A" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if evaluate_type.name == "PERSONAL PLANNING" %>
    <div class="page-break"></div>
      <div style="margin-top: 20px;">
      <span style="padding-left: 20px"><label>Student: <%= @student.name %></label></span>
      <span style="float: right; padding-right: 20px;"><label>Grade: <%= @student.grade ? @student.grade.name : 'No Grade' %></label></span>
    </div>
    <div class="border" style="padding: 0px 5px; font-weight: bold;">
      <p style="">PERFORMANCE SCALE for work habits and personal and social development:<br/>
      4 - Always 3 - Usually 2 - Sometimes 1 - Seldom</p>
    </div>
  <% end %>
<% end %>

<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0" >
  <% @report_template.evaluates.each do |evaluate| %>
    <tr class="table-header">
      <td width="70%" class=" fixed padding-td"><%= evaluate.name %></td>
      <% current_acedemic_year.terms.each do |term| %>
        <td width="10%" class="score" align="center">
          <% if StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") == 1 %>
            Yes
          <% elsif StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") == 0 %>
            No
          <% else %>
            N/A
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<table class="pdf-table border table-magin-top" width="100%" cellspacing="0" class="page">
  <tr style="border-bottom: 1px solid #000000;">
    <td style="border:0;">
      <h4 class="add title-table">EXTRA CURRICULAR ACTIVITIES</h4>
    </td>
  <tr>
  <tr>
    <td>
      <p class="extra-comment">Participation And General Comments</p>
    </td>
  </tr>
  <tr>
    <td>
      <div class="content-curricular content-extra_78">
        <%= simple_format(Curricular.find_by(student_id: @student.id, acedemic_year_id: current_acedemic_year).content) if Curricular.find_by(student_id: @student.id, acedemic_year_id: current_acedemic_year) %>
      </div>
    </td>
  </tr>
</table>
