<table id="pdf-table" width="100%" cellspacing="0">
  <tr width="100%" >
    <table width="100%" class="border">
      <td style="padding: 5px 15px; width: 25%;">
        <div class="info-left">
          <div class="info1">
            <label class="field-label">Student: </label> <label class="infolbl" style="text-align:left;">
              <%= @student.name %>
            </label>
          </div>
          <div class="info1">
            <label class="field-label">Grade: </label> <label class="infolbl">
              ?????
            </label>
          </div>
        </div>
      </td>
      <td style="padding: 5px 15px; border-right: 1px solid #000; width: 25%%;">
        <div class="info-left">
          <div class="info1">
            <label class="field-label"></label>
          </div>
          <div class="info1">
            <label class="field-label">Teachers: </label> <label class="infolbl">
              <%= @student.name %>
            </label>
          </div>
        </div>
      </td>
      <td style="padding: 5px 15px; width: 25%;">
        <div class="info-left">
          <div class="info1">
            <label class="field-label2">Days Absent: </label> <label class="infolbl"> <%= @leaves.to_i %></label>
          </div>
          <div class="info1">
            <label class="field-label2">Times Late: </label> 
            <label class="infolbl"> <%= @leaves_forenoon.to_i %></label>
          </div>
        </div>
      </td>
      <td style="padding: 5px 15px; border-right: 1px solid #000; width: 25%%;">
        <div class="info-left">
          <div class="info1">
            <label class="field-label2">Total Days Absent: </label> 
            <label class="infolbl"><%= @leaves.to_i %></label>
          </div>
          <div class="info1">
            <label class="field-label">Total Times Late: </label> 
            <label class="infolbl"><%= @leaves_forenoon.to_i %></label>
          </div>
        </div>
      </td>
    </table>
  <tr>
  <tr>
    <table width="100%" class="border_no_top">
      <tr>
        <td style="border:0;border-left:1px solid #000; padding: 5px 15px; width: 15%;" class="logobox">
          <%#= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
          <%= wicked_pdf_image_tag("logo_pdf.png") %>
        </td>
        <td>
          <table width="100%">
            <tr>
              <td><label>School:</label></td>
              <td>KHALSA COMMUNITY SCHOOL</td>
              <td><label>Grade in September:</label></td>
              <td>???</td>
            </tr>
            <tr>
              <td><label>Address:</label></td>
              <td>69 Maitland Street<br>
                  Brampton<br>
                  ON L6S 3B5</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><label>Administrator:</label></td>
              <td>RIPSODHAK S. GREWAL</td>
              <td><label>Telephone: </label></td>
              <td>905-791-0603</td>
            </tr>
          </table>
        </td>
        
      </tr>
    </table>
  </tr>
  <tr>
    <table width="100%" class="border_no_top" style="text-align: center">
      <tr>
        <td>
          <p>In the Primary years, children are assessed and evaluated according to their individual progress. It is normal for young<br/>
          children to acquire skills at differing rates and times.</p>
          <h3 style="font-weight: bold; font-size: 11px; pading: 8px" >The following developmental scale is used to describe student progress:</h3>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" >
            <tr height="20px">
              <td>1 - Not yet within expectations </td>
              <td>2 - Meets expectations at a beginning level</td>
              <td>3 - Meets expectations</td>
              <td>4 - Exceeds expectations</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </tr>
</table>

<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">PERSONAL PLANNING - Intellectual Development</td>
    <td width="8%" class="score" align="center">Report 1</td>
    <td width="8%" class="score" align="center">Report 2</td>
    <td width="8%" class="score" align="center">Report 3</td>
  </tr>

  <tr class="tr">
    <td class="padding-td">Is able to make choices and carry out plans</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Understands the importance of health and safety</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">LANGUAGE ARTS -- Intellectual Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Able to express thoughts and feelings orally</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Contributes to discussions and lessons</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Listens attentively</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Displays a positive attitude towards books</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Applies a variety of early reading skills(such as picture clues,scans left-to-right,patterns,rhymes, sequence of events, retells stories)</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Draws pictures to convey meaning</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Shows an interest in writing</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Is able to print own name legibly</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Is able to print/write some letters and numbers legibly</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Responds to reading and viewing in a variety of ways, such as discussions, drawing, drama and painting</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Knows letter names</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Knows sounds of some letters</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">MATHEMATICS - Intellectual Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Is able to sort and classify</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Is able to count objects</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Recognizes basic geometric shapes</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Recognizes, continues and creates patterns</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Understands numerals and the quantity they represent</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Understands basic number operations (Numeracy)</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">SOCIAL STUDIES - Intellectual Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates interest in learning about the world around herself/himself</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">SCIENCE -- Intellectual Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates curiosity about the world of science</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Understands simple scientific concepts</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Discusses and records observations</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">FINE ARTS -- Aesthetic and Artistic Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Shows interest in art activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Shows interest in musical activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Shows interest in drama activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">PHYSICAL EDUCATION -- Physical Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates small muscle control (such as with pencil, scissors, small manipulatives ...)</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Participates in physical activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates good sportsmanship</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates skill in activities (such as running, skipping, throwing, catching ?)</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Considers the safety of self and others</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Understands and follows rules of simple games</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<!-- page braek -->
<div class="page-break"></div>
<div style="margin-top: 20px;">
  <span style="padding-left: 20px"><label>Student:</label></span>
  <span style="float: right; padding-right: 20px;"><label>Grade:</label></span>
</div>
<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0">
  <tr class="table-header" style="font-weight: bold;">
    <td class="fixed" width="76%" style="padding: 0px 5px;">SOCIAL RESPONSIBILITY -- Social and Emotional Development</td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
    <td width="8%" class="score" align="center"></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Is considerate and respectful of others</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Demonstrates a positive self-concept</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Accepts learning challenges</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Finds ways to resolve conflicts and solve problems</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Accepts responsibility for own actions</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Maintains focus during group activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Cares for personal and school property</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Identifies and practices effective work habits</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Works and plays cooperatively with others</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Works independently when necessary</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Follows classroom routines</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tr">
    <td class="padding-td">Participates in activities</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table class="pdf-table table-margin" width="100%" cellspacing="0" class="page" style="border: 1px solid #000000; margin-top: 5px">
  <tr style="border-bottom: 1px solid #000000;">
    <td style="border:0;">
      <h4 class="add title-table">EXTRA CURRICULAR ACTIVITIES</h4>
    </td>
  <tr>
  <tr>
    <td>
      <p class="extra-comment">Participation And General Comments</p>
    </td>
  </tr>
  <tr>
    <td>
      <div class="content-extra_js"></div>
    </td>
  </tr>
</table>