<table id="pdf-table" width="100%" cellspacing="0">
  <%= render :partial => 'pdf_info' %>
  <tr>
    <table class="text-center border_no_top" width="100%">
      <tr>
        <td>
          <p style="pading: 0px, margin: 0px;" >In the Primary years, children are assessed and evaluated according to their individual progress. It is normal for young<br/>
          children to acquire skills at differing rates and times.</p>
          <h4 style="font-weight: bold; font-size: 11px; pading: 0px, margin: 0px;" >The following developmental scale is used to describe student progress:</h4>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" >
            <tr style="vertical-align: top; padding-bottom: 2px;">
              <td>1 - Not yet within expectations </td>
              <td style="padding-bottom: 2px;">2 - Meets expectations at a beginning<br/>level</td>
              <td>3 - Meets expectations</td>
              <td>4 - Exceeds expectations</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </tr>
</table>

<% @report_template.evaluate_types.all.order('id ASC').each_with_index do |evaluate_type, index_type |%>
  <table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0" >
    <tr class="table-header" style="font-weight: bold;">
      <td class="fixed" width="76%" style="padding: 0px 5px;"><%= evaluate_type.name %></td>
      <% current_acedemic_year.terms.each_with_index do |term, index| %>
        <td width="8%" class="score" align="center">
          <% if index_type == 0 %>
            Report <%= index + 1 %> 
          <% end%>
        </td>
      <% end %>
    </tr>
    <% evaluate_type.evaluates.each do |evaluate|%>
       <tr class="tr">
        <td class="padding-td"><%= evaluate.name %></td>
        <% current_acedemic_year.terms.each do |term| %>
          <td width="8%" class="score" align="center"><%= StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if evaluate_type.name == "PHYSICAL EDUCATION -- Physical Development" %>
    <div class="page-break"></div>
      <div style="margin-top: 20px;">
      <span style="padding-left: 20px"><label>Student: <%= @student.name %></label></span>
      <span style="float: right; padding-right: 20px;"><label>Grade: <%= @student.grade ? @student.grade.name : 'No Grade' %></label></span>
    </div>
  <% end %>
<% end %>

<table class="pdf-table table-magin-top border" width="100%" border="1" cellspacing="0" >
  <% @report_template.evaluates.each do |evaluate| %>
    <tr class="table-header">
      <td width="76%" class=" fixed padding-td"><%= evaluate.name %></td>
      <% current_acedemic_year.terms.each do |term| %>
        <td width="8%" class="score" align="center">
          <% if StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") == 1 %>
          Yes
          <% elsif StudentEvaluate.get_value(evaluate.id, @student.id, term.id, "mark") == 0 %>
          No
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<table class="pdf-table table-margin" width="100%" cellspacing="0" class="page" style="border: 1px solid #000000; margin-top: 5px">
  <tr style="border-bottom: 1px solid #000000;">
    <td style="border:0;">
      <h4 class="add title-table">EXTRA CURRICULAR ACTIVITIES</h4>
    </td>
  <tr>
  <tr>
    <td>
      <p class="extra-comment">Participation And General Comments</p>
    </td>
  </tr>
  <tr>
    <td>
      <div class="content-curricular content-extra_js">
        <%= simple_format(Curricular.find_by(student_id: @student.id, acedemic_year_id: current_acedemic_year).content) if Curricular.find_by(student_id: @student.id, acedemic_year_id: current_acedemic_year) %>
      </div>
    </td>
  </tr>
</table>
