<%- model_class = Student -%>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String" >Students List</Data></Cell>
      </Row>
       <Row>
        <Cell><Data ss:Type="String" >Total students: <%= @students.count %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:first_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:last_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:middle_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:gender) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:birthdate) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:street) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:city) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:state) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:postal_code) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:phone) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:mobile) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:grade) %></Data></Cell>
      </Row>
    <% @students.each do |student| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= student.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.middle_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.gender %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.birthdate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.state %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.postal_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.mobile %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student.grade.name if student.grade %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>