<style type="text/css">
.table-boder {
  border: 1px solid #000000;
}
.border-none {
  border: none !important;
}
.title-pdf{
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin: 0px 5px;
}
.date-head-pdf {
  float: right;
  margin-right: 25px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 2px;
  padding-bottom: 0px;
  margin-top: 30px;
}
.section1 {
  font-size: 10px;
}
.col-md-6 {
  width: 50%;
}
.logobox img {
  width: 90px;
  height: 90px;
}
.title-table {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0px 3px !important;
}
.border-title {
  padding-bottom: 5px !important;
  border-bottom: 2px solid #000;
}
.extra-comment {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}
.page-break {
  display:block;
  clear:both;
  page-break-after:always;
}
.name-term {
  font-weight: bold;
  font-size: 13px;
}
.input-content {
  width: 100%;
  min-height: 170px;
  margin-bottom: 50px;
}
.signature {
  text-align: center;
  border-top: 1px solid #000;
  font-weight: bold;
}
.term {
  margin-top: 15px;
}
.square {
  height: 25px;
  width: 25px;
  border: 1px solid #000;
  display: inline-block;
}
.content-curricular {
  padding-left: 5px;
  padding-right: 5px;
}
.content-extra {
  min-height: 530px;
}
.content-extra_46 {
  min-height: 650px;
}
.content-extra_78{
  min-height: 650px;
}
.content-extra_js {
  min-height: 630px;
}
.set-mark tr td{
  padding: 3px 3px !important;
}
.border {
  border: 1px solid #000;
}
.table-magin-top {
  margin-top: 5px;
}
.border_no_top {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.padding-td {
  padding: 1px 5px;
}
</style>
<div id="page-yield" class="available_sections1">
  <div class="page1"></div>

  <div class="section1">
    <span class="date-head-pdf pull-right">Date: <%= Time.now.strftime("%m/%d/%Y") %></span>
    <% case @template_name %>
    <% when ReportTemplate::NAME[0] %>
      <%= render :partial => 'js_jk' %>
    <% when ReportTemplate::NAME[1] %>
      <%= render :partial => 'g1_g3' %>
    <% when ReportTemplate::NAME[2] %>
      <%= render :partial => 'g4_g6' %>
    <% when ReportTemplate::NAME[3] %>
      <%= render :partial => 'g7_g8' %>
    <% end %>

    <div class="page-break"></div>
    <div style="margin-top: 20px;">
      <span style="padding-left: 20px"><label>Student: <%= @student.name %></label></span>
      <span style="float: right; padding-right: 20px;"><label>Grade: <%= @student.grade ? @student.grade.name : 'No Grade' %></label></span>

    </div>

    <% Term.last(3).each_with_index do |term, index| %>
      <table class="pdf-table table-magin-top border-none term" width="100%" border="1" cellspacing="0">
        <tr>
          <td height="300px" valign="top" style="border:none;">
            <div class="custom_header">
              <h2 class="add title-table border-title" style="margin-top: 0; line-height: 25px;" >ADDITIONAL COMMENTS / WAYS TO SUPPORT LEARNING</h2>
              <div>
                <span class="name-term"><label><%= term.name %></label></span>
                <span style="float: right; padding-right: 30px;"><label>Date: <%= term.end_date %> </label></span>
              </div>

              <div class="input-content"><%= simple_format(Comment.get_comment(@student.id, term.id)) %></div>
              <table width="100%" cellspacing="0">
                <tr>
                  <td width="33%" class="signature"><span>Teacher's Signature</span></td>
                  <td width="34%" align="center"></td>
                  <td width="33%" class="signature"><span>Administrator's Signature</span></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    <% end %>

    <!-- page braek -->
    <div class="page-break"></div>

    <table class="pdf-table border-none" width="100%" cellspacing="0" class="page">
      <tr>
        <td style="border:0; text-align:center; padding-top: 35px;" colspan="2"><b>Response Form
          <br>
          ( to be completed, signed and returned)</b>
        </td>
      </tr>
      <tr >
        <td>
          <table width="100%" width="100%" cellspacing="0" class="border" >
            <tr>
              <td class="padding-td" width="15%"><label style="line-height: 20px; padding: 8px 10px 0px 10px">Student:</label></td>
              <td class="padding-td" width="35%"><label style="line-height: 20px; padding: 8px 0px 0px 0px"><%= @student.name %></label></td>
              <td class="padding-td" width="25%"><label style="line-height: 20px; padding: 8px 10px 0px 0px">Grade: <%= @student.grade ? @student.grade.name : 'No Grade' %></label> </td>
              <td class="padding-td" width="25%"><label style="line-height: 20px; padding: 8px 0px 0px 0px">Date: <%= Time.now.strftime("%m/%d/%Y") %></label></td>
            </tr>
            <tr>
              <td class="padding-td"><label class="field-label" style="line-height: 20px;padding-left: 10px">School:</label> </td>
              <td class="padding-td"><label class="infolbl" style="line-height: 20px;">KHALSA COMMUNITY SCHOOL</label> </td>
              <td class="padding-td"><label class="infolbl" style="line-height: 20px;">Homeroom Teachers: </label></td>
              <td class="padding-td"><label class="infolbl" style="line-height: 20px;">
                <%=  @student.grade.teacher.name if @student.grade && @student.grade.teacher %></label>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
      <td>
        <div class="border_no_top" style="padding: 15px;">
          <p style="font-weight: bold;">Parent's/Guardian's and student's comments on student achievement, goals and home support:</p>
          <div style="height: 620px;"></div>
          <table class="pdf-table" width="100%" cellspacing="0" class="sig">
            <tr>
              <td colspan="3">
                <table width="100%" >
                  <tr>
                    <td width="7%"><span class="square"></span></td>
                    <td width="33%"><span >I have received the report<br/>card</span></td>
                    <td width="15"></td>
                    <td width="7%"><span class="square"></span></td>
                    <td width="38%"><span >I would like to discuss this report card. Please<br/>contact me.</span></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr height="70px"></tr>
            <tr>
              <td colspan="2">
                <table width="100%" cellspacing="0">
                  <tr>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Signature</span></td>
                    <td width="20%" align="center"></td>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Name (please print)</span></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr height="70px"></tr>
            <tr>
              <td colspan="2">
                <table width="100%" cellspacing="0">
                  <tr>
                    <td width="40%" class="signature"><span>Parent's/Guardian's Signature</span></td>
                    <td width="60%" class="">
                      <table width="100%" cellspacing="0" align="center">
                        <tr align="center">
                          <td>(______)_______-____________</td>
                          <td>(______)_______-____________</td>
                        </tr>
                        <tr align="center">
                          <td>Telephone (day)</td>
                          <td>Telephone (night)</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
      </tr>
    </table>
  </div>
</div>
