<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if current_user && !current_user.role?("teacher") %>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_student_path, :class => 'btn btn-primary' %>
  <%= link_to 'Import', import_student_path, :class => 'btn btn-primary' %>
<% end %>
<table class="table table-striped table-student">
  <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th>Grade</th>
      <th><%= sortable "gender" %></th>
      <th><%= sortable "birthdate" %></th>
      <th>Fees Amount</th>
      <th>Health Issues</th>
      <th>Enrolled</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.first_name, edit_student_path(student) %></td>
        <td><%= link_to student.last_name, edit_student_path(student) %></td>
        <td><%= student.grade ? student.grade.name : '' %></td>

        <td><%= student.gender %></td>
        <td><%= student.birthdate.strftime("%B, %d, %Y") if student.birthdate %></td>
        <td><%= student.fees.sum(:amount) %></td>
        <td><%= get_health_issue(student).html_safe %></td>
        <td><%= get_enrolled(student).html_safe %></td>
        <td>
          <% unless (current_user.role?(User::ROLE[:teacher]) || current_user.role?(User::ROLE[:office])) %>
              <%= link_to 'Show',
                          student_path(student), :class => 'btn btn-default btn-xs' %>
          <% end %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_student_path(student), :class => 'btn btn-default btn-xs',:data => { :reload => true } %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-md-12">
  <div class="data_paginate text-center">
    <%= will_paginate @templates %>
  </div>
</div>
