<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<label class="pull-left" style="line-height: 30px">Grade: </label>
<div class="col-md-2">
  <%= select_tag "select_grade", options_for_select(@grades.collect{ |u| [u.name, u.id]}.unshift(["Select a grade",0]), :selected => params[:grade_id]), {:class =>"form-control"} %>
</div>
<span style="line-height: 30px;">Students total: <%= @students.count %></span>
<div class="clearfix"></div>
<br />
<% if current_user.role?(User::ROLE[:accounting]) %>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_student_path, :class => 'btn btn-primary' %>
<% end %>
<% if current_user.role?(User::ROLE[:accounting]) %>
  <%= link_to 'Import', import_student_path, :class => 'btn btn-primary' %>
  <%= link_to 'Delete All',
                      delete_all_student_path,
                      :method => :post,
                      :data => { :confirm => "Are you sure delete all students?" },
                      :class => 'btn btn-danger pull-right' %>
<% end %>
<table class="table table-striped table-student">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th>Grade</th>
      <th><%= sortable "gender" %></th>
      <th><%= sortable "birthdate" %></th>
      <% unless current_user.role?('teacher') %>
        <th>Fees Amount</th>
      <% end %>
      <th>Health Issues</th>
      <th>Enrolled</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.id, edit_student_path(student) %></td>
        <td><%= link_to student.first_name, edit_student_path(student) %></td>
        <td><%= link_to student.last_name, edit_student_path(student) %></td>
        <td><%= student.grade.name if student.grade %></td>
        <td><%= student.gender %></td>
        <td><%= student.birthdate.strftime("%B, %d, %Y") if student.birthdate %></td>
        <% unless current_user.role?('teacher') %>
          <td><%= student.fees.sum(:amount) %></td>
        <% end %>
        <td><%= get_health_issue(student).html_safe %></td>
        <td><%= get_enrolled(student).html_safe %></td>
        <td>
          <%= link_to 'Show', student_path(student), :class => 'btn btn-default btn-xs' %>
          <% if (current_user.role?(User::ROLE[:teacher]) || current_user.role?(User::ROLE[:accounting]) || current_user.role?(User::ROLE[:office]) ) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_student_path(student), :class => 'btn btn-default btn-xs',:data => { :reload => true } %>
            <% if current_user.role?(User::ROLE[:accounting]) %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
              <% end %>
          <% end %>
          <% if current_user.role?(User::ROLE[:office]) %>
            <%= link_to "Export Reciept", export_fee_path(student, :format => :pdf), class: 'btn btn-primary btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-md-12">
  <div class="data_paginate text-center">
    <%= will_paginate @templates %>
  </div>
</div>
