<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= simple_form_for @term, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="controls">
        <%= f.input :name %>
      </div>
      <div class="controls">
        <%= f.input :acedemic_year_id, collection: AcedemicYear.all.map { |a| [a.year, a.id, {'data-type' => a.year}] }, prompt: "Select Acedemic Year", :class => 'form-control', selected: @term.get_acedemic_year_id %>
      </div>
      <div class="controls">
        <%= f.input :start_date, as: :date_picker, :class => 'form-controll' %>
      </div>
      <div class="controls">
        <%= f.input :end_date, as: :date_picker, :class => 'form-controll' %>
      </div>

      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  terms_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
