<h1>List Academic Year</h1>

<table class="table table-striped">
  <thead>
    <tr >
      <th>Year</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @acedemic_years.each do |acedemic_year| %>
      <tr>
        <td><%= acedemic_year.year %></td>
        <td><%= acedemic_year.start_date %></td>
        <td><%= acedemic_year.end_date %></td>
        <td>
          <%= link_to 'Show', acedemic_year, class: "btn btn-xs btn-default" %>
          <%= link_to 'Edit', edit_acedemic_year_path(acedemic_year), class: "btn btn-xs btn-default" %>
          <%= link_to 'Destroy', acedemic_year, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic year', new_acedemic_year_path, class: "btn btn-primary"  %>
