<%- model_class = Route -%>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String" >Routes List</Data></Cell>
      </Row>
       <Row>
        <Cell><Data ss:Type="String" >Total Routes: <%= @routes.count %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:details) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:status) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:created_at ) %></Data></Cell>
      </Row>
    <% @routes.each do |route| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= route.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= route.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= route.details %></Data></Cell>
        <Cell><Data ss:Type="String"><%= route.status ? 'Active' : 'Inactive' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= route.created_at.strftime("%B, %d, %Y") if route.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>