<div class="row">

    <%= simple_form_for Attendance.new, :url => teacher_attendance_all_path, method: :get, :html => {:class => "form-horizontal teacher"} do |f| %>
      <div class="col-md-3">
        <div style="margin-left: 25px !important;"> <%= f.input :attendanced_at, as: :date_picker, :class => 'form-control',
                                                                :input_html => { value: params[:attendance] && params[:attendance][:attendanced_at] ? params[:attendance][:attendanced_at] : Time.now.strftime("%d/%m/%Y") } %></div>
      </div>
      <div class="col-md-9" style="margin-top: 26px;">
        <%= f.submit 'Check', :class => 'btn btn-default', style: 'margin-left: 10px;' %>
      </div>
    <% end %>
  </div>
</div>

<br>

<table class="table table-striped table-student">
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:id) %></th>
    <th><%= sortable_attendance "first_name" %></th>
    <th><%= sortable_attendance "last_name" %></th>
    <th><%= User.human_attribute_name(:phone) %></th>
    <th><%= User.human_attribute_name(:gende) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.id%></td>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.phone %></td>
        <td><%= teacher.get_list_grades %></td>
        <td>
          <%= form_tag({controller: 'attendances', action: 'create'}, method: 'post', remote: true, id: "teacher_#{teacher.id}_attendance_form") do %>
              <%= hidden_field_tag :teacher_id, teacher.id %>
              <% day = params[:attendance] && params[:attendance][:attendanced_at] ? params[:attendance][:attendanced_at].to_date : Time.now.to_date %>
              <% attendance = Attendance.where(
                      "teacher_id = ? AND term_id = ? AND attendanced_at = ?",
                      teacher.id,
                      current_term,
                      day
              ).first %>

              <%= hidden_field_tag :attendanced_at, params[:attendance] && params[:attendance][:attendanced_at] ? params[:attendance][:attendanced_at] : Time.now.strftime("%d/%m/%Y") %>
              <%= hidden_field_tag :type_action, teacher.id, id: "type_attendance" %>

              <% [ 'late', 'absence', 'half day', 'early dismissal' ].each do |type_action| %>
                <label class="label-radio-action"><%= type_action.humanize %></label>
                <%= check_box_tag "type_action", type_action, attendance && attendance.type_action == type_action, class: type_action, style: 'top: 2px; position: relative', data_type: type_action, name: "action" %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $("input[name=action]").click(function () {
      if ($(this).is(':checked')) {
        var type = $(this).attr("data_type");
        $(this).parent().find('#type_attendance').val(type);
      }else{
        $(this).parent().find('#type_attendance').val("none");
      }

      $(this).parent().submit();

      if ($(this).attr("data_type") == "late" ){
        $(this).parent().find('.half, .early, .absence').removeAttr('checked')
      }else if ($(this).attr("data_type") == "absence" ){
        $(this).parent().find('.half, .early, .late').removeAttr('checked')
      }else if ($(this).attr("data_type") == "half day" ){
        $(this).parent().find('.late, .early, .absence').removeAttr('checked')
      }else{
        $(this).parent().find('.half, .late, .absence').removeAttr('checked')
      }
    })
  });
</script>